# preprocessing requirements
langchain
langchain-chroma
langchain-huggingface
sentence-transformers
chromadb
langchain_text_splitters
transformers
# api requirements
uvicorn
fastapi[standard]
sqlmodel
python-dotenv
python-multipart
alembic
psycopg2-binary